.home-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    min-height: 100vh;
    width: inherit;
   
}

.home-container__About {
    width: 65vw;
    height: 70vh;
    background-color: #6b5f5f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: #504747 0px 0px 10px 0px;
    flex-direction: row;
    align-items: center;

}


