.outside-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 80vw;
    height: 85vh;
    background-color: #0E1012;
    border-radius: 10px;
   
}

.home-container__buttons {
    width: inherit;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: #ecf0f1; 
    margin-bottom: 10px;
}
